input[type=text] {
	width: 60vw;
	margin: .5em .2em 0.2em .5em;
	font-size: 24px;
	border: 2px solid black;
	line-height: 1.3em;
	padding: 0.1em .3em;
}
button {
	margin: .5em .2em 0em .2em;
	font-size: 24px;
	border: 2px solid black;
	line-height: 1.3em;
}
h1 {
	margin: 0;
	padding: .8em .3em 0.1em .3em;
	color: white;
	text-align: center;
	font-size: 7vw;
}
h1 img {
	width: 50vw;
}
.subtitle {
	color: #333;
	font-size: 3vw;
}
.subtitle > a {
	color: #333 !important;
	text-decoration: none;
}
